$bg-color: rgba(255, 0, 0, 0.49);

//
//:root {
//    --left-box-width: 360px;
//    --left-box-height: 940px;
//
//    --right-box-width: 360px;
//    --right-box-height: 940px;
//
//    --center-box-width: 1130px;
//    --center-box-height: 940px;
//
//    --golden-color: #eed289;
//    --card-bg-color: rgba(255, 255 ,255, 0.2);
//
//    --table-bg-color: #1d50e0;
//
//    --page1-color: #12c250;
//}


/*
.hide-bar {
&::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
  opacity: 0;
}
-ms-overflow-style: none;
scrollbar-width: none;
}



  :root {
    --vt-c-white: #ffffff;
    --vt-c-white-soft: #f8f8f8;
    --vt-c-white-mute: #f2f2f2;

    --vt-c-black: #181818;
    --vt-c-black-soft: #222222;
    --vt-c-black-mute: #282828;

    --vt-c-indigo: #2c3e50;

    --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
    --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
    --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
    --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

    --vt-c-text-light-1: var(--vt-c-indigo);
    --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
    --vt-c-text-dark-1: var(--vt-c-white);
    --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}
*/

